[Unit]
Description=Mesos Slave
After=weave.target
Requires=docker.service weave.target
[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStart=/usr/bin/docker \
  -H localhost:12375 \
  run --rm --name=slave-00.mesos \
  -v /sys:/sys --privileged=true --pid=host \
  -e MESOS_CONTAINERIZERS=docker \
  -e DOCKER_HOST=172.17.42.1:12375 \
  mesoscloud/mesos-slave:0.22.1-centos-7 \
  sh -c ' \
    sed "s/^\(hosts:[\ ]*\)\(files\)\ \(dns\)$/\1\3 \2/" -i /etc/nsswitch.conf ; \
    mesos-slave --master=zk://zookeeper-00.mesos.weave.local:2181/mesos ; \
  '
ExecStop=/usr/bin/docker rm -f slave-00.mesos
