[Unit]
After=weave.service
Description=ElasticSearch on Weave
Documentation=https://registry.hub.docker.com/u/errordeveloper/weave-elasticsearch-minimal/
Requires=weave.service

[Service]
EnvironmentFile=/etc/weave.env
ExecStartPre=/opt/bin/weave \
  run --with-dns $ELASTICSEARCH_NODE_ADDR \
  --name=elasticsearch \
  -h $ELASTICSEARCH_NODE_NAME \
  $ELASTICSEARCH_CONTAINER
ExecStart=/usr/bin/docker attach elasticsearch
SuccessExitStatus=255
ExecStop=/usr/bin/docker kill elasticsearch ; /usr/bin/docker rm elasticsearch
