Host weave-coreos-01
  HostName 127.0.0.1
  User core
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/ilya/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host weave-coreos-02
  HostName 127.0.0.1
  User core
  Port 2200
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/ilya/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

